*{
    padding: 0;
    margin: 0;
}
.login{
    border: none;
    background-color: none;
    background-color: transparent;
    color: #343a40 ;
}
.carousel-item{
    background: no-repeat center center scroll;
    background-size: cover;
}
nav{
    background: transparent;
    background-color:#212529;
}
.fmly{
    font-family:'Mukta', sans-serif;
    font-weight: 100;
    font-size: 32px;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size:cover;
}
.carousel-caption{
    bottom: 600px;
    padding-bottom: 100px;
}
.carousel-caption h5{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'Times New Roman', Times, serif;
   color:aliceblue;
}
.clr{
    background-color: #d84315;;
}

.bn{
margin-bottom: 200px;
border: none;
border: 2px solid lightblue;
}
.img1{
    background: url(pic2.jpg);
    color:white;
    background-repeat: no-repeat;
    /* height: 295px; */
    background-size: cover;
}
.img2{
    background: url(pic1.jpg);
    background-repeat: no-repeat;
    color:white;
    background-position:center;
    /* height: 100%; */
    /* width: 100%; */
    background-size: cover;
    /* position: relative; */
  
}

.img3{
    /* height: 295px; */
    background-color: #007bff;
   color: white;
}
.read{
    border: none;
    background-color: #2196f3;
    color: white;
}
.card-text {
    color:#999;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.9;

}
.img4{
    background: url(cabin.jpg) fixed;
    background-size: cover;
    height: 45vh;
    background-repeat: no-repeat;
}
.icon{
    font-size: 2.5rem;
    padding-left: 15px;
    padding-right: 15px;
    height: 10vh;
    border-radius: 5px;
    color: white;
}
